In [8]:
import string
import random
import pandas as pd
import datetime

MAX_LEN = 8

random_id = string.ascii_letters + string.digits

id = []
for i in range(100000):
    result = ""
    for i in range(MAX_LEN):
        if i == 4:
            result += "-"
        result += random.choice(random_id)
    id.append(result)

id_data = pd.DataFrame(id)
id_data.columns = ['id']
id_data

              id
0      k5Z0-st0U
1      bCiP-if3i
2      GLPh-COUx
3      6eQ7-2K1n
4      az7k-j1Jn
...          ...
99995  EzL1-1Qp0
99996  wlFX-AMwx
99997  L2AD-ZpQQ
99998  XTNZ-dSDr
99999  faji-XtHL

[100000 rows x 1 columns]

In [10]:
now = datetime.datetime.now()
nowDate = now.strftime("%Y%m%d")
id_data.to_csv('./example_id_' + nowDate + '.csv', mode = 'w')

In [15]:
id_data.duplicated(['id'])

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool